{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}创建销售订单{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="layui-container">
<div class="layui-row">
<div class="layui-col-md9 site-content">
  <form id="sellRecordForm" method="post" class="layui-form">
    <div class="layui-form-item">
        <select name="product_id" lay-verify="required">
          <option value="">请选择销售的商品</option>
          {% for product in sellCreateInfos.products %}
          <option value="{{product['id']}}">{{product["name"]}}</option>
          {% endfor %}
        </select>
    </div>

    <div class="layui-form-item">
      <select name="seller_id" lay-verify="required">
      <option value="">请选择销售员</option>
      {% for seller in sellCreateInfos.sellers %}
      <option value="{{seller['id']}}">{{seller["name"]}}</option>
      {% endfor %}
      </select>
    </div>

    <div class="layui-form-item">
      <select name="customer_id" lay-verify="required" lay-search>
      <option value="">请选择客户</option>
      {% for customer in sellCreateInfos.customers %}
      <option value="{{customer['id']}}">{{customer["name"]}}</option>
      {% endfor %}
    </select>
    </div>

    <div class="layui-form-item">
    <input name="amount" class="layui-input" id="amount" placeholder="请输入销售数量" required>
    </div>

    <input type="submit" class="layui-btn" value="确定">

  </form>
</div>
</div>
</div>


{% endblock %}


