{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}销售订单{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="page-body">

  {% if g.user %}
  <div class="container-xl">
      <div class="row g-2 align-items-center mb-n3">
  <div class="col-6 col-sm-3 col-md-2 col-xl mb-3">
    <a class="layui-btn layui-btn-normal" href="{{ url_for('sell_record.create') }}">新建销售订单</a>
  </div>
        </div>
      </div>
  {% endif %}

    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>销售订单号</th>
          <th>商品名称</th>
          <th>创建时间</th>
          <th>销售员</th>
          <th>客户</th>
          <th>销售数量</th>
          <th>预付款</th>
          <th>已发货数量</th>
          <th>退款金额</th>
          <th>代存费用</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for sellRecord in sellRecords %}
        <tr>
          <td>{{sellRecord['id']}}</td>
          <td>{{sellRecord['product_name']}}</td>
          <td>{{sellRecord['create_time']}}</td>
          <td>{{sellRecord['seller_name']}}</td>
          <td>{{sellRecord['customer_name']}}</td>
          <td>{{sellRecord['amount']}}</td>
          {% if sellRecord['prepayments'] != None %}
          <td>{{sellRecord['prepayments']}}</td>
          {% else %}
          <td>0</td>
          {% endif %}

          {% if sellRecord['transported_amount'] == None %}
          <td>0</td>
          {% else %}
          <td>{{sellRecord['transported_amount']}}</td>
          {% endif %}
          <td>{{sellRecord['return_money']}}</td>
          <td>{{sellRecord['surrogate_fees']}}</td>
          <td>
            <div class="layui-table-cell laytable-cell-1-0-10">
              {% if sellRecord['status']=='INIT' %}
              <a href="{{ url_for('carriage.create',sellRecordId=sellRecord['id']) }}" class="layui-btn">发货</a>
              <button class="layui-btn" onclick="returnProduct('{{sellRecord['id']}}','{{sellRecord['product_id']}}','{{sellRecord['product_name']}}')">退货</button>
              {%endif%}
            <input type="button" class="layui-btn layui-btn" onclick="deleteSellRecord({{sellRecord['id']}})" value="删除" id="{{sellRecord['id']}}" />

            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  <div id="returnProductDiv" style="display:none;">
    <form id="returnProductForm" class="layui-form">

      <div class="layui-form-item">
        <label class="layui-form-label">退货方式</label>
        <div class="layui-input-block">
          <input type="radio" name="return_type" id="returnProductAndMoney" value="returnProductAndMoney" title="退货退款" />
          <input type="radio" name="return_type" id="surrogate" value="surrogate" title="代存" />
        </div>
      </div>
      <input type="text" name="sellRecordId" id="sellRecordId" autocomplete="off" class="layui-input" style="display:none;">
      <input type="text" name="productId" id="productId" autocomplete="off" class="layui-input" style="display:none;">
      <div class="layui-form-item">
        <label class="layui-form-label">退款金额(元)</label>
        <div class="layui-input-block">
          <input type="text" name="return_money" autocomplete="off" placeholder="请输入退款金额" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">退货数量</label>
        <div class="layui-input-block">
          <input type="text" name="return_product_amount" autocomplete="off" placeholder="请输入退货数量" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">代存费用</label>
        <div class="layui-input-block">
          <input type="text" name="surrogate_fees" id="surrogate_fees" autocomplete="off" placeholder="请输入代存费用" class="layui-input">
        </div>
      </div>



      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="returnProductSubmit" >确定</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">

function returnProduct(id,productId,name){

  layui.use(['layer', 'form'], function(){
      var layer = layui.layer;
      var form = layui.form;
      $("#sellRecordId").attr("value",id);
      $("#productId").attr("value",productId);
  form.render();
    layer.open({
              type: 1,
              title: '订单号：'+id+'，商品名称：'+name+'，退货',
              content: $('#returnProductDiv').html(),
              area: ['500px', '300px'],
              success: function(layero, index){
                  // 监听表单提交
                  form.on('submit(returnProductSubmit)', function(data){
                      console.log(typeof data);
                      console.log(data.field);
                      $.post("/sell_record/returnProduct",data.field,function(data){

                      },'json');
                      layer.msg("提交成功");
                      layer.close(index);
                      return false;
                  });
              }
          });
          form.render();
  });
}

  function deleteSellRecord(id){
    layer.confirm('是否确认删除？',{btn:['确认','取消']},function(){
      $.post("/sell_record/delete", {
            "id" : id,
          }, function(data) {
            //成功，跳转到指定页面
           }, 'json'
          );
          location.reload();
    });
  }

</script>

{% endblock %}