{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}销售订单{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="page-body">

  {% if g.user %}
  <div class="container-xl">
      <div class="row g-2 align-items-center mb-n3">
  <div class="col-6 col-sm-3 col-md-2 col-xl mb-3">
    <a class="layui-btn layui-btn-normal" href="{{ url_for('sell_record.create') }}">新建销售订单</a>
  </div>
        </div>
      </div>
  {% endif %}

    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>销售订单号</th>
          <th>商品名称</th>
          <th>创建时间</th>
          <th>销售员</th>
          <th>客户</th>
          <th>销售数量</th>
          <th>预付款</th>
          <th>已发货数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for sellRecord in sellRecords %}
        <tr>
          <td>{{sellRecord['id']}}</td>
          <td>{{sellRecord['product_name']}}</td>
          <td>{{sellRecord['create_time']}}</td>
          <td>{{sellRecord['seller_name']}}</td>
          <td>{{sellRecord['customer_name']}}</td>
          <td>{{sellRecord['amount']}}</td>
          {% if sellRecord['prepayments'] != None %}
          <td>{{sellRecord['prepayments']}}</td>
          {% else %}
          <td>0</td>
          {% endif %}

          {% if sellRecord['transport_amount'] == None %}
          <td>0</td>
          {% else %}
          <td>{{sellRecord['transported_amount']}}</td>
          {% endif %}
          <td><input type="button" class="layui-btn layui-btn-normal" onclick="deleteSellRecord({{sellRecord['id']}})" value="删除" id="{{sellRecord['id']}}" /></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<script type="text/javascript">

  function deleteSellRecord(id){
    layer.confirm('是否确认删除？',{btn:['确认','取消']},function(){
      $.post("/sell_record/delete", {
            "id" : id,
          }, function(data) {
            //成功，跳转到指定页面
           }, 'json'
          );
          location.reload();
    });
  }

</script>

{% endblock %}