<!doctype html>
<title>{% block title %}{% endblock %} 爱农种业</title>
<head>
  <link href="{{url_for('static',filename='layui/css/layui.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='layui/layui.js')}}"></script>
  <script src="{{url_for('static',filename='jquery-3.6.3.js')}}"></script>
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
</head>

<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black"><img src="{{url_for('static',filename='icon/logo.png')}}" class="layui-nav-img">爱农种业</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">

          {% if g.user %}
      <span>{{ g.user['username'] }}</span>


    {% endif %}
        </a>{% if g.user %}
        <dl class="layui-nav-child">

          <dd><a href="{{ url_for('auth.logout') }}">退出</a></dd>

        </dl>
        {% endif %}
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test" id="menu">
        {% if g.user %}
        {% else %}
        <li class="layui-nav-item"> <a href="{{ url_for('auth.register') }}">注册用户</a></li>
        <li class="layui-nav-item"><a href="{{ url_for('auth.login') }}">登录</a></li>
        {% endif %}

        {% if g.user['role']=='ADMIN' %}
        <li class="layui-nav-item"><a class="nav-link" href="{{url_for('material.index')}}">原材料</a></li>
        <li class="layui-nav-item"><a class="nav-link"  href="{{url_for('product.index')}}">商品列表</a></li>
        {% endif %}
        {% if g.user['role']=='STORE_MANAGER' or g.user['role']=='ADMIN'%}
        <li class="layui-nav-item"><a class="nav-link"  href="{{url_for('inventory.index')}}">库存</a></li>
        {% endif %}
        {% if g.user['role']=='ADMIN' %}
        <li class="layui-nav-item"><a class="nav-link"  href="{{url_for('customer.index')}}">客户往来账</a></li>
        <li class="layui-nav-item"><a class="nav-link"  href="{{url_for('seller.index')}}">销售人员信息</a></li>
        <li class="layui-nav-item"><a class="nav-link" href="{{url_for('sell_record.index')}}">销售订单</a></li>
        <li class="layui-nav-item"><a class="nav-link"  href="{{url_for('carriage.index')}}">发货单</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

<div class="layui-body">
  <header>

    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash"><span style="color: red">{{ message }}</span></div>
  {% endfor %}
  <div style="padding: 15px">
  {% block content %}{% endblock %}
    </div>

</div>
</div>


</body>

<script type="text/javascript">

  var currentUrl = document.location.href;
  var currentUrls = currentUrl.split("\/");
  $("#menu a").each(function (){

    var navHref = $(this).attr("href").split("\/");

    if(currentUrls[3]==navHref[1]){
      $(this).addClass("layui-this");
    }
  });
</script>
