{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}账务明细{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="page-body">
    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>客户名称</th>
          <th>金额</th>
          <th>类型</th>
          <th>商品名称</th>
          <th>商品数量</th>
          <th>时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for account in accounts %}
        <tr>
          <td>{{account['supplier_name']}}</td>
          <td>{{account['amount']}}</td>
          {% if account['amount_type']=='IMPORT_MATERIAL'%}
          <td>原材料进货</td>
          {%else%}
          <td>付款</td>
          {%endif%}
          <td>{{account['material_name']}}</td>
          <td>{{account['count']}}</td>
          <td>{{account['create_time']}}</td>
          <td><a href="{{url_for('supplier.printDetail',accountsId=account['id'])}}" class="layui-btn"  lay-event="edit">打印预览</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %}