{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}创建原材料{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="layui-col-md9 site-content">
  <form id="materialForm" class="layui-form" method="post">
    <div class="layui-form-item">
    <label class="layui-form-label" for="name">原材料名称</label>
      <div class="layui-input-block">
    <input type="text" class="layui-input" name="name" id="name" value="{{ request.form['name'] }}" required>
      </div>
    <label class="layui-form-label">原材料数量</label>
    <input type="text" class="layui-input" name="count" id="count" value="{{ request.form['count'] }}" required>
    <input type="submit" class="layui-btn" value="保存">
    </div>

  </form>
</div>


{% endblock %}


