{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="page-body">

  <div class="layui-col-md9 site-content">
  {% if g.user %}
    <a class="layui-btn layui-btn-normal" href="{{ url_for('material.create') }}">创建原材料</a>

  {% endif %}
    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>原材料名称</th>
          <th>原材料数量</th>
          <th>类型</th>
          <th>单位</th>
          <th>备注</th>
          <th>标记</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for material in materials %}
        <tr>
          <td>{{material['name']}}</td>
          <td>{{material['count']}}</td>
          <td>
            {% if material['type']=='ZHONG_YI_JI' %}
              种衣剂
            {% elif material['type']=='NEIMO' %}
              内膜
            {% elif material['type']=='OUTER_PACK' %}
              外包装
            {% elif material['type']=='CHENGPIN' %}
              成品
            {% elif material['type']=='BAOYI_SANZI' %}
              包衣散籽
            {% elif material['type']=='SANZI' %}
              包衣散籽
            {% else %}
              {{material['type']}}
            {% endif %}
          </td>
          <td>
            {% if material['unit']=='kg' %}
              公斤
            {% elif material['unit']=='piece' %}
              条
            {% elif material['unit']=='bag' %}
              袋
            {% endif %}
          </td>
          <td>
            {% if material['comment']==None %}

            {% else %}
              {{material['comment']}}
            {% endif %}
          </td>
          <td>
             {% if material['tag']==None %}

            {% else %}
              {{material['tag']}}
            {% endif %}
          </td>
          <td><button class="layui-btn" onclick="modifyLayer('{{material['id']}}','{{material['name']}}')">修改</button>
          <button class="layui-btn" onclick="importMaterial('{{material['id']}}','{{material['name']}}')">进货</button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="importForm" style="display:none;">
  <form class="layui-form">

    <div class="layui-form-item">
      <label class="layui-form-label">供应商</label>
      <div class="layui-input-block">
        <select name="supplierId" lay-verify='required' lay-search>
                    <option value=''>请选择供应商</option>
                    {% for supplier in suppliers %}
                        <option value="{{supplier.id}}">{{supplier.name}}</option>
                    {% endfor %}
                </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">进货量</label>
      <div class="layui-input-block">
        <input type="text" name="count" lay-verify="required" autocomplete="off" placeholder="请输入进货量" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">付款金额</label>
      <div class="layui-input-block">
        <input type="text" name="amount" lay-verify="required" autocomplete="off" placeholder="请输入付款金额" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="importMaterialSubmit" onclick="submitImportMaterial">确定</button>
      </div>
    </div>
  </form>
</div>
    </div>



<script type="text/javascript">

function importMaterial(id,name){

  layui.use(['layer', 'form'], function(){
      var layer = layui.layer;
      var form = layui.form;
    layer.open({
              type: 1,
              title: name+'进货',
              content: $('#importForm').html(),
              area: ['500px', '300px'],
              success: function(layero, index){
                  // 监听表单提交
                  form.on('submit(importMaterialSubmit)', function(data){
                      console.log(data.field);
                      layer.msg("提交成功");
                      layer.close(index);
                      return false;
                  });
              }
          });
          form.render();
});
}

  function modifyLayer(id,name) {
    layer.prompt({title: '修改原材料数量:'+name}, function(amount, index){
      layer.close(index);
      var data={'id':id,'amount':amount}
      $.ajax({
          type:"POST",
          url:"/material/modify",
          data:data,
          async:true,
          dataType:"json",
          success:function (data){

          }
        });
      location.reload();
    });
  }
    // $(document).ready(function (){
    //   $("#modifyMaterial").click(function (){
    //     var formData=$("#modifyMaterialForm").serialize();
    //     $.ajax({
    //       type:"POST",
    //       url:"/material/modify",
    //       data:formData,
    //       async:true,
    //       dataType:"json",
    //       success:function (data){
    //         location.reload();
    //       }
    //     });
    //
    //   });
    // });

    // $('.submit').click(function (){
    //   var form = $('form')[0];
    //     var formdata = new FormData(form);
    //     $.ajax({
    //         url: 'create',
    //         data: formdata,
    //         type: 'post',
    //         dataType: "json",
    //         contentType: false,
    //         processData: false,
    //         success: function (data) {
    //             // code……
    //         }
    //     });
    // });
</script>

{% endblock %}