{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="page-body">

  {% if g.user %}
  <div class="container-xl">
  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
    <a class="layui-btn layui-btn-normal" href="{{ url_for('customer.create') }}">新建客户</a>
  </div>
  </div>
  {% endif %}

    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>客户名称</th>
          <th>城市</th>
          <th>业务员</th>
          <th>联系人</th>
           <th>手机</th>
          <th>应收合计</th>
<!--          <th>省份</th>-->
<!--          <th>详细地址</th>-->
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for customer in customers %}
        <tr>
          <td> {{customer['name']}}</td>
          <td>{{customer['city']}}</td>
          <td>{{customer['salesman']}}</td>
          <td>{{customer['contacts']}}</td>
          <td>{{customer['cellphone']}}</td>
          <td>{{customer['receivable']}}</td>
<!--          <td>{{customer['province']}}</td>-->
<!--          <td>{{customer['address']}}</td>-->
          <td>
            <div class="layui-table-cell laytable-cell-1-0-10">
            <button class="layui-btn" onclick="receiveMoney('{{customer['id']}}','{{customer['name']}}')">收款</button>
          <a href="{{url_for('customer.accountsDetail',customerId=customer['id'])}}" class="layui-btn"  lay-event="edit">明细</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
<script type="text/javascript">
  function receiveMoney(id,name) {
    layer.prompt({title: '收到客户:'+name+'的付款(单位元)'}, function(money, index){
      layer.close(index);
      var data={'id':id,'money':money}
      $.ajax({
          type:"POST",
          url:"/customer/receiveMoney",
          data:data,
          async:true,
          dataType:"json",
          success:function (data){

          }
        });
      location.reload();
    });
  }
</script>
{% endblock %}