{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}创建发货单{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="layui-container">
<div class="layui-row">
<div class="layui-col-md9 site-content">
  <form id="sellRecordForm" method="post" class="layui-form">
    <div class="layui-form-item">
    <select name="sell_record_id" lay-verify="required">
      <option value="">请选择销售订单号</option>
      {% for sellRecord in sellRecords %}
      <option value="{{sellRecord['id']}}">订单号:{{sellRecord["id"]}},商品名称:{{sellRecord['product_name']}},客户名称:{{sellRecord['customer_name']}},订单量:{{sellRecord['amount']}},已发货:{{sellRecord['transported_amount']}}</option>
      {% endfor %}
    </select>
    </div>

    <div class="layui-form-item">
    <input name="amount" class="layui-input" id="amount" placeholder="请输入发货数量" required>
    </div>

    <div class="layui-form-item">
    <input name="productPrice" class="layui-input" id="productPrice" placeholder="请输入发货总金额" required>
    </div>

    <div class="layui-form-item">
    <input name="address" class="layui-input" id="address" placeholder="目的地" required>
    </div>


    <div class="layui-form-item">
    <input name="driver_name" class="layui-input" id="driver_name" placeholder="司机姓名" required>
    </div>


    <div class="layui-form-item">
    <input name="driver_cellphone" class="layui-input" id="driver_cellphone" placeholder="司机手机号" required>
    </div>

    <input name="driver_liscense" id="driver_liscense" hidden >

    <div class="layui-upload">
      <button type="button" class="layui-btn" id="uploadDriverLiscense">
        <i class="layui-icon">&#xe67c;</i>上传驾照
      </button>
      <div class="layui-upload-list">
        <img class="layui-upload-img" id="demo1">
        <p id="demoText"></p>
      </div>
      <div style="width: 95px;">
        <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
          <div class="layui-progress-bar" lay-percent=""></div>
        </div>
      </div>
    </div>

<!--    <a name="list-progress"> </a>-->

    <div style="margin-top: 10px;"/>

    <input type="submit" class="layui-btn" value="确定">

  </form>
</div>
</div>
</div>



<script type="text/javascript">
layui.use(['upload', 'element', 'layer'], function() {
  var $ = layui.jquery
          , upload = layui.upload
          , element = layui.element
          , layer = layui.layer;

  //常规使用 - 普通图片上传
  var uploadInst = upload.render({
    elem: '#uploadDriverLiscense'
    , url: '/carriage/uploadDriverLicense' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
    , before: function (obj) {
      //预读本地文件示例，不支持ie8
      obj.preview(function (index, file, result) {
        $('#demo1').attr('src', result); //图片链接（base64）
      });

      element.progress('demo', '0%'); //进度条复位
      layer.msg('上传中', {icon: 16, time: 0});
    }
    , done: function (res) {
      //如果上传失败
      if (res.code > 0) {
        return layer.msg('上传失败');
      }
      //上传成功的一些操作
      //……
      $('#demoText').html(''); //置空上传失败的状态
      $('#driver_liscense').attr('value',res.data.src);
<!--      var form = layui.form;-->
<!--      form.render();-->
    }
    , error: function () {
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function () {
        uploadInst.upload();
      });
    }
    //进度条
    , progress: function (n, elem, e) {
      element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
      if (n == 100) {
        layer.msg('上传完毕', {icon: 1});
      }
    }
  });
});
</script>


{% endblock %}


