{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}发货单列表{% endblock %}</h1>

{% endblock %}

{% block content %}

<div class="page-body">
  {% if g.user %}
<div class="container-xl">
    <div class="col-4">
      <div class="row g-2 align-items-center mb-n3">
  <div class="col-2 col-sm-2 col-md-2 col-xl mb-3">
    <a class="layui-btn layui-btn-normal" href="{{ url_for('carriage.create') }}">新建发货单</a>
  </div>
        </div>
      </div>
  </div>
  {% endif %}
<div class="container">
    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>发货单号</th>
          <th>销售订单号</th>
          <th>发货量</th>
          <th>目的地</th>
          <th>司机姓名</th>
          <th>司机电话</th>
        </tr>
      </thead>
      <tbody>
      {% for transport in transports %}
        <tr>
          <td>{{transport['id']}}</td>
          <td>{{transport['sell_record_id']}}</td>
          <td>{{transport['amount']}}</td>
          <td>{{transport['address']}}</td>
          <td>{{transport['driver_name']}}</td>
          <td>{{transport['driver_cellphone']}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
