{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}商品列表{% endblock %}</h1>

{% endblock %}

{% block content %}

<div class="page-body">
  {% if g.user %}
  <div class="container-xl">
    <div class="col-4">
      <div class="row g-2 align-items-center mb-n3">
  <div class="col-2 col-sm-2 col-md-2 col-xl mb-3">
    <a class="btn btn-primary w-100" href="{{ url_for('product.create') }}">创建商品信息</a>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-xl mb-3">
    <a class="btn btn-primary w-100" href="{{ url_for('product.manufacture') }}">生产商品</a>
    </div>
      </div>
      </div>

  </div>
  {% endif %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名称</th>
          <th>单位</th>
          <th>单价</th>
          <th>规格</th>
          <th>创建人</th>
          <th>原材料消耗</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{product['name']}}</td>
          {% if product['unit'] == 'bag'%}
          <td>袋</td>
          {% elif product['unit'] == 'kg' %}
          <td>公斤</td>
          {% else %}
          <td>无</td>
          {% endif %}
          <td>{{product['price']}}</td>
          <td>{{product['specification']}}</td>
          <td>{{product['creator']}}</td>
          <td>{{product['material_cost_conf']}}</td>
          <td><input type="button" onclick="deleteProduct({{product['id']}})" value="删除" id="{{product['id']}}" /></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<script type="text/javascript">
  function deleteProduct(id){
    $.confirm({
      title:'是否确认删除',
      content:'确认删除吗',
      buttons:{
        确认:function (){
          $.post("/product/delete", {
            "id" : id,
          }, function(data) {
            //成功，跳转到指定页面
           }, 'json'
          );
          location.reload();
        },
        取消:function () {
          
        }
      }
    });
  }

</script>

{% endblock %}