{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}

<div class="page-body">
  <div class="layui-col-md9 site-content">
  {% if g.user %}

    <div class="layui-btn-group">
    <a class="layui-btn layui-btn-normal" href="{{ url_for('product.create') }}">创建商品信息</a>


    <a class="layui-btn layui-btn-normal" href="{{ url_for('product.manufacture') }}">生产商品</a>
      </div>
  {% endif %}
    <table class="layui-table" lay-even>
      <thead>
        <tr>
          <th>商品名称</th>
          <th>单位</th>
          <th>单价</th>
          <th>规格</th>
          <th>创建人</th>
          <th>原材料消耗</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      {% for product in products %}
        <tr>
          <td>{{product['name']}}</td>
          {% if product['unit'] == 'bag'%}
          <td>袋</td>
          {% elif product['unit'] == 'kg' %}
          <td>公斤</td>
          {% else %}
          <td>无</td>
          {% endif %}
          <td>{{product['price']}}</td>
          <td>
            {% if product['specification']==None %}

            {% else %}
              {{product['specification']}}
            {% endif %}
          </td>
          <td>{{product['creator']}}</td>
          <td>{{product['material_cost_conf']}}</td>
          <td>{{product['comment']}}</td>
          <td>
            <div class="layui-table-cell laytable-cell-1-0-10">
              <button type="button" class="layui-btn" onclick="deleteProduct({{product['id']}})" id="{{product['id']}}">删除</button>
              <a href="{{ url_for('product.modify',id=product['id']) }}" class="layui-btn"  lay-event="edit">修改</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
  </div>

<script type="text/javascript">
  function deleteProduct(id){
    layer.confirm('是否确认删除？',{btn:['确认','取消']},function(){
      $.post("/product/delete", {
            "id" : id,
          }, function(data) {
            //成功，跳转到指定页面
           }, 'json'
          );
          location.reload();
    });
    // layer.confirm({
    //   title:'是否确认删除',
    //   content:'确认删除吗',
    //   buttons:{
    //     确认:function (){
    //       $.post("/product/delete", {
    //         "id" : id,
    //       }, function(data) {
    //         //成功，跳转到指定页面
    //        }, 'json'
    //       );
    //       location.reload();
    //     },
    //     取消:function () {
    //
    //     }
    //   }
    // });
  }

</script>

{% endblock %}