{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}创建销售员{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="layui-container">
<div class="layui-row">
<div class="layui-col-md9 site-content">
  <form id="sellerForm" method="post" class="layui-form layui-form-pane">
    <div class="layui-form-item">
    <label for="name" class="layui-form-label">销售员名称</label>
      <div class="layui-input-block">
         <input name="name" class="layui-input" id="name" value="{{ request.form['name'] }}" required>
      </div>
    </div>

    <div class="layui-form-item">
    <label class="layui-form-label">销售员手机</label>
      <div class="layui-input-block">
        <input name="cellphone" class="layui-input" id="cellphone" value="{{ request.form['cellphone'] }}" required>
      </div>
    </div>

    <input type="submit" class="layui-btn" value="保存">

  </form>
</div>
</div>
</div>



{% endblock %}


